
.content_box{
    align-content: center;
    display: block;    
    width:99%;
    margin: auto;
    position: relative;  
    left: 0;  
    right: 0;  
}
.left_bar{
    float:left;
    width:15%;
    background:#eaf4ff;
    height:100vh;
}

.right_bar{
    float:left;
    width:85%;
    padding:15px;
        /*border-left:1px solid #ccc;*/
        height:100%;
}

