/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
body {
    width: 100%;
  background: #efeff6;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  color: #71748d;
}

::placeholder {
  font-size: 10px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 10px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 10px;
}

.header
{
  background-color: white;

  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.gameInformation {
  font-size: 25px;
  color: #007bff;
  float: left; 
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

ul {
  list-style-type: none;
  display: block;
  color: gray;
  margin-left: 500px;
  text-align: right;
  font-weight: bold;
  margin-top: 5px;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 14px;
  text-decoration: none;
}

ul li a:hover {
  font-size: 14px;
  text-decoration: none;
  text-underline-position: below;
  color: 3fa0e1;
  border-bottom: #3fa0e1 3px solid;
  padding-bottom: 5px;
}

a {
  color: gray;
  text-decoration: none;
}


table {
  table-layout: fixed;
  color: white !important;
  width: 100%;
  text-align: center;
}

.homecontainer1
{
  color: gray;
  font-style: italic;
}

.homecontainer {
  display: grid;
  grid-template-columns: 50% auto;
  color: gray;
  font-style: italic;
}

.buildcontainer {
  display: grid;
  grid-template-columns: 100% auto;
}

.homecol {
  padding: .4em 1.3em;
  font-weight: bold;
  font-size: 14px;
  color: grey;
  margin-top: 10px;
  width: 100%;
}

.homecol1 {
  padding: .4em 1.3em;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-top: 10px;
  width: 100%;
}


.btn-primary.custom-btn {
  background: #2885C4;
}

.color-dark {
  background: #2885C4;
}

.color-light {
  background: white; // #57B3F1;

}

input.txt {
  border: 1px gray solid;
  padding: 5px;
  width: 85%;
}

input.buildId {
  border: 1px gray solid;
  padding: 10px;
  width: 10%;
}

input.location {
  border: 1px gray solid;
  padding: 10px;
  width: 37.2%;
}


// th
//  {   
//     text-align: center;
//      vertical-align: middle;
//      float: left;
//      margin-left: 10px;
//      height: 35px;
//  }
// thead
// {
//     padding: 10px;
//     height: 20px;
// }
// tr{    
//     padding: 10px;
//     height: 20px;
//     border:rgba(255, 255, 255, 0.233) 1px solid;
//     width: 100%;
// }
// tbody
// {
//     border: rgba(255, 255, 255, 0.096)  1px solid;
//     width: 100%;
// }
.life-container {
  background: #3fa0e1;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.list-item {
  float: left;
  margin-left: 10px;
  color: white;
  font-weight: 300;
}

.list-item-links {
  float: left;
  margin-left: 10px;
  color: white;
  font-weight: 300;
}

.required {
  color: white;
  font-size: 0.8em;
  background-color: #f96a6a;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}

.icon_button {
  background-color: transparent;
  border: 0px;
}

.fa {
  color: gray;

}

.noRecord {
  padding: 5px;
  color: #555555;
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.info {
  font-weight: 200;
  margin-left: 150px;
}

.label {
  font-weight: bold;
  color: #555555;
}

.buildcontainer {
  display: grid;
  grid-template-columns: 100% auto;
}

.buildRequired {
  background: #f96a6a;
  font-size: 0.8em;
  color: white;
  padding: 5px;
  width: 260px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 145px;
}

@keyframes alertAnim {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.buildLink {

  color: white;
}

.list-item.col-300 {
  width: 300px;
  white-space: nowrap;
}

.list-item.col-80 {
  width: 80px;
  white-space: nowrap;
}

.list-item.col-100 {
  width: 100px;
  white-space: nowrap;
  text-align: center;
}

.list-item.col-120 {
  width: 120px;
  white-space: nowrap;
  text-align: center;
}


.col-200 {
  width: 200px;
  white-space: nowrap;
}

.col-350 {
  width: 340px;
  white-space: nowrap;
  text-align: left;
}

.col-80 {
  width: 80px;
  white-space: nowrap;
  text-align: center;
}

.col-120 {
  width: 120px;
  white-space: nowrap;
  text-align: center;
}

.col-100 {
  width: 100px;
  white-space: nowrap;
  text-align: center;
}

.label-container {
  float: left;
  width: 200px
}

.txt-container {
  margin-left: 50px;
  padding: 5px;
}

.btn_container {
  margin-left: 200px;
}

.search-box {
  padding: 5px;
  float: right;
}

.search-box-txt {
  widows: 300px;
font-size: 12px;
height: 30px;
line-height: 1.5;
background: transparent;
border-radius: 0px;
border: 1px thin rgb(236, 236, 236);
}

.search-results {
  height: 100%;
  // overflow: scroll;
}

.back {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.round {
  border-radius: 10%;
  border: 0px;
}

.previous {
  background-color:transparent;
  padding:5px;
  color: black;
}


.scrollbar {
  float: left;
  height: 300px;
  min-width: 100%;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.force-overflow {
  min-height: 450px auto;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #3fa0e1;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #73c7ff;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851;
}

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 0px;
}

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD;
}

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #3fa0e1;
  border-radius: 0px;
}

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #3fa0e1;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #3fa0e1;
}

.waves-effect {
  color: black;
  background: #2885C4;
  padding: 5px;
  height: 10px;
}

#toast-container>div {
  opacity: 1;
}

.fa-sort-asc {
  color: white;
}

.fa-sort-desc {
  color: white;
}

.cdk-table {
  height: 500px;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  border: 1px lightslategrey thick ;
}

table th {
  background: #fafafa;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  color: #373757;
}

table td {
  color: rgb(26, 26, 26);
  font-size: 12px;
  text-align: left;
  padding: 15px;
}

.fa-white {
  color: white !important;
  display: inline-block;
}

.title {  
  font-style: italic;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.right_float
{
  float: right;
  padding:5px;
}
