.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .login-form {
    padding: 5%;
    margin: auto;
    position: absolute;
    top: 50;
    left: 0;
    bottom: 50;
    right: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  
  .login-form h3 {
    text-align: center;
    color: #333;
  }
  
  .btnSubmit {
    width: 30%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
  }
  
  .login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
  }
  
  .login-form .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
  }
  

  
 .option{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
  }

 
  